.titleBar {
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.screenshots {
    display: flex;
    justify-content: space-around;
}

.projectContainer {
    border: 1px solid #000;
    width: 95%;
    margin: 0px auto 15px;
    background: #efefef;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px;
    text-align: center;
}

.projectContainer .projectHeader {
    margin: 5px;
}

.projectContainer .projectTitle {
    font-size: 22px;
    font-weight: bolder;
    padding: 5px;
}

.projectContainer .projectLinks {
    display: block;
    color: #0af;
}

.ssVert {
    width: 70px;
    height: 100px;
}

.ssHoriz {
    width: 140px;
    height: 100px;
}

.socialLink {
    display: inline-block;
}

.socialIcon {
    width: 25px;
    height: 25px;
    margin: 5px;
}

.projectSubTitle {
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
    font-size: 16px;
}

.projectCompanyTitle {
    text-align: left;
    margin-left: 15px;
}

.projectList {
    text-align: left;
}